<!DOCTYPE html> <html> <head> <title>Stories</title> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'> <link data-turbolinks-track="true" href="/assets/application-d2befa18d19feb28c32cb66aac5f1054.css" media="all" rel="stylesheet" /> <meta content="authenticity_token" name="csrf-param" />
<meta content="E8hCguPrBnIYTID4ZtWR0UHN5QNVf/nJU/o3iOCBKNg=" name="csrf-token" /> 
 

<link rel="stylesheet" href="javascripts/sidr/stylesheets/jquery.sidr.light.css">

</head> 

<body> 
  <!--<div class="menu"> 
    <ul> 
      <li><a href="/">Home</a></li> 
      <li><a href="/about">About</a></li> 
      <li><a href="/signups/new">Contact</a></li> 
    </ul> 
    
  </div>  -->
  <a id="simple-menu" href="#sidr"><img src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-black.svg" alt="menu" width="24px"></a>

<div id="sidr">
  
  <ul>
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/about">About</a></li>
    <li><a href="/signups/new">Contact US</a></li>
  </ul>
</div>

  
  <div class="home-main"> 
    <div class="container"> 
      <div class="row"> 
        <div class="content col-md-6 col-md-offset-6"> 
          <h1>Create and share Stories</h1> 
          <p>
            <a class="btn btn-primary" href="about">Learn more</a></p> 
        </div> 
      </div> 
    </div> 
  </div> 
  
  <div class="home-supporting"> 
    <div class="container"> 
      <h2>What are your adventures?</h2> 
      <p>Tell your stories and memories.</p> 
    </div> 
  </div> 
  
  <div class="home-secondary"> 
    <div class="container"> 
     
    </div> 
  </div> 
  
  <div class="home-about"> 
    <div class="container"> 
      <h2>Discover Stories</h2> 
      <p>
        <a class="btn btn-primary" href="about">Learn more</a>
      </p> 
    </div> 
  </div> 
  
  <div class="footer"> 
    <div class="container"> 
      <p>A Roman Project</p> 
    </div> 
  </div> 
  <script data-turbolinks-track="true" src="/assets/application-5ec8317a69c812470d7789bf2f91d0dd.js"></script> 
  
    <script src="javascripts/jquery.js"></script>
<!-- Include the Sidr JS -->
    <script src="javascripts/sidr/jquery.sidr.min.js"></script>

  <script>
$(document).ready(function() {
  $('#simple-menu').sidr();
});
</script>
  
</body> 
</html>